body {
  font-family: arial;
  background: #f4f4f4;
}
form {
  background: #fff;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
  display: grid;
  border: 3px solid black;
}
input,
select,
textarea {
  width: 100px;
  padding: 10px;
  margin: 8px 20px;
  border: 2px solid green;
}
button {
  background: green;
  color: white;
  padding: 10px;
  border: 0;
}
