body{
    background: #f4f6f8;
    font-family: sans-serif;
}
.my-form{
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
}
.my-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.my-form label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}.my-form input,
.my-form textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.my-form textarea {
    height: 100px;
    resize: none;
}
.my-form button {
    width: 100px;
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.my-form button:hover{
    background-color: #0056b3;
}
.inline-form{
    display: flex;
    gap: 10px;
}
form{
    width: 350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}